<header class="site-header">
  <div class="container header-inner">
    <a href="index.html" class="logo">
      Origindata<span>Lab</span>
    </a>

    <nav class="nav">
      <a href="index.html#company">Company</a>
      <a href="index.html#different">Why It’s Different</a>

      <a href="use-cases.html">Use Cases</a>
      <a href="pricing.html">Pricing</a>
      <a href="data-overview.html">Data Overview</a>
      <a href="legal-transparency.html">Legal</a>
    </nav>

    <a class="btn-cta" href="contact.html">TALK TO A DATA ENGINEER</a>
  </div>
</header>